- const cv = htmlWebpackPlugin.options.content.cv;
- const comps = htmlWebpackPlugin.options.content.comps;
- const dis = htmlWebpackPlugin.options.content.dis;
- const focus = htmlWebpackPlugin.options.content.focus;


h1#cv.pb-3.d-table.m-auto.n-1(style='height:40vh;')
	div.text-uppercase.heebo.f900.px-2.text-light.d-table-cell.align-middle(title=cv.title.seo)= cv.title.content
#viewport
	#wrapper
		ul.frise(style='padding-top:10vh;')
			li#section-1.cv-text.px-2.px-sm-0
				.m-auto.row.w-100.justify-content-around
					.heebo.f900.text-uppercase.text-white.w-lg-80
						span(title=cv.main.seo)=  cv.main.content
						form.my-3.my-md-5.pt-3.pt-md-5(action='./assets/files/cv-loic.pdf', method='get', accept-charset='utf-8' target="_blank")
							button.btn.btn-outline-light.muli.f700.px-5.py-3.rounded-0(type='submit' title=cv.intro.button) Resume (FR)
					h5#bm.text-center.muli.text-uppercase(title="Touch wrapper iscroll")
						| horizontal scroll
						br
						| keep touching
					.round-arrow.arrow-wrapper
						.cta
							span.arrow.primera.next.bounceAlpha
							span.arrow.segunda.next.bounceAlpha
			li#section-2.clearfix.mt-md-2.mt-2
				.d-flex.mt-lg-3
					#text-sec1.float-right.float-md-none.align-items-end.text-left
						.d-inline-flex.text-center.w-100.w-sm-auto.text-sm-left.justify-content-center.justify-content-sm-start
							span.heebo.f900.title.text-uppercase.text-white.bg-dark.f900.pt-1.px-2.shadow-sm.animate.animate-1= cv.intro.title
							
						.didact.w-100.w-sm-80.w-md-60.w-xl-50.text-center.text-sm-left.text-white.pt-2.pt-md-5(style="font-size:1.15em")
							each item in cv.intro.content
								p.animate.animate-1
									span=  item
						.animate.animate-1_1.white-container.animate.float-sm-none.float-md-right
							.row.bg-cv.px-2.mt-5.mt-md-3.h-100.justify-content-around.align-items-end.align-items-sm-center.align-items-md-start
								- let img;
								each val,i in cv.mainTools
									div(class="col-6 cv-bg"+i style="background-image:url("+require('../../assets/images/icons/'+val.res)+")" title=val.seo)

			//- END SECTION 2 --- FORMATIONS ---
			li#section-3
				.d-inline-flex.text-left.title.heebo.f900.text-uppercase.text-white.bg-dark.f900.pt-1.px-2.shadow-sm= dis.title
				.row.flex-wrap.flex-md-nowrap.justify-content-md-start.justify-content-around.ml-md-0(style='height:400px;')
					- let j = 0;
					each item in dis.content
						.timeline-anchor.order-md-1.order-4.w-100
							.animate.timeline1-1.text.border.border-light.lato.f100.text-uppercase.p-2.text-light.mt-md-0.my-3.py-2.animate.timeline1-1(class= 3 > j > 2 ? "" : "mx-1")
								if item.length > 0
									if typeof item[1] === "object"

										a(href=item[1].attached title=item[1].seotitle target="_blank")

											span.text-light

												| !{item[0]}

											span.text-light.font-weight-bold.fa-plus-circle
											
									else
										span 
											| !{item[0]}
										br
										span 
											| !{item[1]}
								else
									span 
										| !{item[0]}
							span.kanit.f100.font-year.align-top.animate.timeline1-2= Object.keys(dis.content)[j]
							- j++;

			//- END SECTION 3
			li#section-4
				.d-inline-flex.text-center.title.heebo.f900.text-uppercase.text-white.bg-dark.f900.pt-1.px-2.shadow-sm
					span.align-self-center= comps.mainTitle
				section.container
					.row.justify-content-center.align-content-center.mt-2.mt-sm-3.mt-md-4
						//- console.log(cv.comps);
						each comp,i in comps.content
							//- console.log(comp);
							.col-md-6.animate.timeline2-1(class= i > 3 ? "" : "pt-4")
								.d-flex.justify-content-around
									ul.effect-1.effect
										li.h-100
											.figure.d-flex.justify-content-around.align-content-around
												.text-uppercase.text-center.effect-title.d-table
													h4.text-center.muli.f300.text-white.d-table-cell.align-middle(title=comp.seo.title)= comp.title
												.figcaption.text-dark
													h3.muli.f700.text-uppercase(title=comp.seo.sub)= comp.sub
													p.didact !{comp.caption}
				
			li#section-5
				.m-auto.row.w-100.d-flex.justify-content-around.align-content-center
					.col-md-6.px-2
						.text-center
							h1.title.heebo.f900.text-uppercase.text-white.bg-dark.f900.shadow-sm.d-inline-flex.px-2(title='Development tools')
								span= cv.tools.title
					.w-100.h-100
						//-icons
						ul.tools.px-2.d-flex.justify-content-around
							- let i = 0;
							each val in cv.tools.skills
								li.round-comp.rounded-circle
									.resp-svg
										svg(x="0px" y="0px" viewBox="0 0 500 500" )
											circle.back-circle(cx="250" cy="250" r="250" fill="")
											circle(cx="250" cy="250" r="250" fill="" data-start=val stroke-dasharray="0,20000" transform="rotate(-90,250,250)")
											span= Object.keys(cv.tools.skills)[i]
								- i++;

			li#section-6
				h1.title.heebo.f900.text-uppercase.text-white.bg-dark.f900.shadow-sm.d-inline-flex.px-2(title='What i use to focus more...')
					| To focus
				.col-12.text-light.heebo.f300.mt-1.mt-md-2.mt-lg-5
					| !{focus.text}

				.text-light.heebo.f300.mt-1.mt-md-2.mt-lg-5.shadow-md.embed-responsive.container.lazy-iframe
						
			li#section-7
				h1.title.heebo.f900.text-uppercase.text-white.bg-dark.f900.shadow-sm.d-inline-flex.px-2(title='My interests')
						| My Hobbies
				.col-12.text-light.heebo.f300
						| Now in production...