- const favico =require('../../assets/images/favicon.png');
- const info = htmlWebpackPlugin.options.global;
- const humans = require('../../humans.txt');

meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.5')
meta(charset='utf-8')
//- Referencement
meta(name='description', content=info.desc)
meta(name='google', content='nositelinkssearchbox')
title #{htmlWebpackPlugin.options.title}

link(type="text/plain" rel="author" href=humans)
    //- favico and shortcut

//-link(rel='icon', href=favico, type='image/png')
//-link(rel='favicon', href=favico, type='image/png')
 